* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cardinfo_box_close {
  border: 0;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  color: #42526e;
  height: 32px;
  margin: 4px;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 85ms, color 85ms;
  width: 32px;
  z-index: 2;
}

.cardinfo_box_close:hover {
  background-color: #091e4214;
  color: #42526e;
  cursor: pointer;
}

.cardinfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 550px;
  width: fit-content;
  max-width: 650px;
  height: fit-content;
}

.cardinfo_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cardinfo_box_body {
  flex: 1;
  flex-direction: column;
}

.cardinfo_box_title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.cardinfo_box_editable_container {
  width: fit-content;
  margin-bottom: 20px;
  min-width: 250px;
}

.cardinfo_box_title p {
  font-weight: bold;
  font-size: 20px;
  min-height: 24px;
  color: #172b4d;
}

.cardinfo_box_title svg {
  height: 14px;
  width: 14px;
}

.cardinfo_box_sidebar {
  width: 20%;
}

.cardinfo_box_labels_wrapper {
  position: relative;
}

.cardinfo_box_labels_btn,
.cardinfo_box_user_btn {
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 40px;
  margin-top: 8px;
  max-width: 300px;
  padding: 6px 10px;
  width: 100%;
  box-shadow: 1px 1px 0 1px rgb(0 0 0 / 12%);
  border-radius: 10px;
}

.cardinfo_box_wrapper {
  position: absolute;
  z-index: 100;
  background-color: #fff;
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 10px;
}

.cardinfo_box_wrapper_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #091e4221;
  padding-bottom: 10px;
}

.cardinfo_box_wrapper_title p {
  font-size: 18px;
  color: #172b4d;
}

.cardinfo_box_wrapper_title button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.cardinfo_box_labels label {
  border-radius: 40px;
  background-color: gray;
  color: #fff;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardinfo_box_labels label svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.cardinfo_box ul {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.cardinfo_box ul li {
  list-style: none;
  width: 100%;
  height: 25px;
  cursor: pointer;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
}

.cardinfo_box ul li img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.cardinfo_box ul li p {
  color: black;
  margin-left: 5px;
  margin-bottom: 5px;
}

.cardinfo_box ul .active {
  box-shadow: 0 0 0 3px yellow;
  border-radius: 8px;
}


.cardinfo_box_colors {
  display: flex;
  flex-direction: column;
}

.cardinfo_box_selected {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cardinfo_box_colors h6 {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  line-height: 20px;
  margin: 0 8px 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardinfo_members_list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.cardinfo_members_list:hover  .cardinfo_remove_user {
  display:  block;
}

.cardinfo_members_list img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.cardinfo_remove_user {
  display: none;
  background-color: lightgray;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: 0;
  outline: none;
}