.columns {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    white-space: nowrap;
    width: calc((100% / 4) - 30px);
    background-color: #ebecf0;
    border-radius: 8px;
}

.columnHeader {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
    padding: 10px 16px;
    text-transform: capitalize;
}

.cardsWrapper {
    min-height: 2px;
    width: auto;
    padding: 0 10px;
}

.cardsWrapper:hover {
    cursor: pointer;
}

.columnFooter {
    border-radius: 3px;
    color: #5e6c84;
    flex: 1 0 auto;    
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
}

.addCardInput {
    width: calc(100% - 24px);
    margin: 8px;
    min-height: 50px;
    border: 0;
    box-shadow: none;
    vertical-align: top;
    padding: 8px;
    box-sizing: border-box;
}

.addCardInput:active,
.addCardInput:focus {
    outline: none;
}

.columnFooter .addCard {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    height: 30px;
    font-size: 18px;
    color: #5e6c84;
    border-radius: 3px;
    margin: 2px 0 8px 8px;
    padding: 4px 8px;
    text-align: left;
    width: calc(100% - 24px);
}

.columnFooter .addCard:hover {
    cursor: pointer;
    background-color: #091e4214;
    color: #172b4d;
}

.actionItemsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 4px 12px 8px;
}

.addCardItem, .removeCardItem {
    width: calc(50% - 12px);
    background-color: transparent;
    border: 0;
    outline: none;
    height: 30px;
}

.addCardItem {
    color: #198754;
}

.removeCardItem {
    color: #ED2939;
}

.addCardItem:hover,
.removeCardItem:hover {
    cursor: pointer;
    background-color: #091e4214;
    color: #172b4d;
}
